
	<span class="card-title">{{user.fullname}}
	{% if  user is not same as(app.user) %}
	
	
	
	{% if   app.user.isFollowing(user) %}
									<a href="{{path('unfollowing',{'id':user.id})}}" class="waves-effect waves-light btn-small right">
										<i class="material-icons left">person_outline</i>Un Following</a>
								{% else %}
									<a href="{{path('following',{'id':user.id})}}" class="waves-effect waves-light btn-small right">
										<i class="material-icons left">person_add</i>Following</a>
	{% endif %}
	{% endif %}
	</span>
	<span>{{user.username}}
	</span>
	<span class="card-title"> <i class="material-icons">date_range</i> Joined
		{{user.createAt|date('m/Y')}}
	</span>
	<span class="card-title">
		{{user.birthday}}
	</span>
	<div class="col s12">
		<p>introduction :{{user.introduction}}</p>
	</div>
	<div class="col s12">
		<p>bio :{{user.bio}}</p>
	</div>

