{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block title %}Hello AccountController!
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="/account/login.css">
	<link rel="stylesheet" href="/account/intl-tel-input/build/css/intlTelInput.min.css">
	<style>
		.card-title {
			padding-top: 1rem;
		}
		.userImage{
			width:100px;
			height:100px;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col s10 offset-s1">
				<div class="card">
					<div class="card-title">
						<h5 class=" center">Register</h5>
					</div>
					<div class="card-content">
						{{form_start(form)}}
						{{form_widget(form)}}
						<p>
							<label>
								<input type="checkbox"/>
								<span>I agree to the terms of service</span>
							</label>
						</p>
						<button name="" type="submit" id="submit" class="btn btn-primary" href="#" role="button">Register</button>

						{{form_end(form)}}
					</div>


				</div>
			</div>
		</div>

	{% endblock %}

	{% block _account_file_widget %}
     
    <div class="col s8">
        <div class="file-field input-field">
            <div class="btn">
                <span>Photo</span>
                {{form_widget(form)}}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
            </div>
      </div>
    <div class="col s4 rigth-align">
       <img class="materialboxed userImage"  id="image_ahmad_{{id}}" />
    </div>
   
    
     
     
      
   
      
 {% endblock %}
	{% block javascripts %}
		{{parent()}}
		
		<script>
         document.addEventListener('DOMContentLoaded', function () {
             //////////////////////edit
                 // region
				let regionEdit = document.getElementById('setting_region');
				let instancesRegionEdit = M.FormSelect.init(regionEdit, {});
                // department
				let departmentEdit = document.getElementById('setting_department');
				let departmentsEdit = M.FormSelect.init(departmentEdit, {});
				//let instanceDepartmentsEdit = M.FormSelect.getInstance(department);
                //city
				let cityEdit = document.getElementById('setting_city');
				let instancesCityEdit = M.FormSelect.init(cityEdit, {});



       });
		</script>
	{% endblock %}
