	<div class="col  s12 m8 l8 offset-m2 offset-l2">
					<div class="card-panel ">
						<div class="row post-body">
							<div class="col s1">
								<div class="user-img">
									<img src="/images/ah.jpg" alt="" class="circle responsive-img">
								</div>
							</div>
							<div class="col s7">
								<a href="{{path('post_user',{'id':post.user.id})}}">
									<strong class="postHeader">
										{{comment.user.fullname}} .
									</strong>
									<small class="date">
					                     	{{comment.createdAt|ago}}
					               </small>
								</a>


							</div>
							{# <div class="col s2">
								<small class=" black-text">
									{{comment.createdAt|date('d/m/Y')}}
								</small>
							</div> #}
							<div class="col s4 right ">
								{% if app.user and app.user==comment.user %}
                                       
									{# edit #}
									<a href="#{{comment.id}}editComment" class="waves-effect waves-light  btn-floating  btn-small  lighten-2 modal-trigger " >
										<i class="material-icons iconis  prefix">edit</i>
									</a>
									{# delete #}
									<a href="#{{comment.id}}Comment" class="waves-effect waves-light   btn-floating modal-trigger btn-small  lighten-3 post-delete">
									  <i class="material-icons iconis  prefix">delete</i>
									</a>
								{% endif %}
							


							</div>

						</div>
						<div class="row">
							<div class="col s9  black-text">
								{{comment.content}}
							</div>

							{# /////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}
							{# Replay Comment #}
							<div class="col s3  right ">
								<a class="waves-effect waves-light center-align  lighten-2 modal-trigger reply " data-email={{comment.user.email}} href="#{{comment.id}}replyComment">
									<i class="material-icons iconis  prefix">reply</i>
									{{'REPLY'|trans}}
								</a>
							</div>
							<!-- Modal Structure -->
							<div id="{{comment.id}}replyComment" class="modal">
								<div class="modal-content">
									<span class="close-modal modal-close">
										<i class="material-icons right">close</i>
									</span>
									<h4 class="left">add Your replay to this comment!</h4>

									{{ render(controller('App\\Controller\\CommentReplyController::add', { 'id': comment.id,'postId':post.id })) }}

								</div>

							</div>
							<!--end Modal Structure -->
						</div>
						{# //////////////////////////////////////////////////////////////////////  #}
						<div class="row">
							{% if comment.commentReplies|length > 0 %}
								<div class="col s12 ">
									<ul class="collapsible">
										<li>
											<div class="collapsible-header  black-text">

												<i class="material-icons">replay</i>
												{{'View the reply'|trans}}{{comment.commentReplies|length}}
												
											</div>
											<div class="collapsible-body">
												{% for replyComment in comment.commentReplies %}

													{% include "comment/_replyCommentCard.html.twig"with {'replyComment':replyComment,'post':post} %} 

													{# modal for delete reply comment #}
													<div id="{{replyComment.id}}deleteReplayComment" class="modal">
														<div class="modal-content">
															<h4>Are You Sure To Delete This Comment</h4>
														</div>
														<div class="modal-footer">
															<a id="accept-delete" href="{{path('comment_reply_delete',{'id':replyComment.id,'postId':post.id})}}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
															<a id="ignore-accept" class="modal-close waves-effect waves-green btn-flat">cancle</a>
														</div>
													</div>
													{# end modal delete reply comment #}
												{% endfor %}
											</div>
										</li>

									</ul>
								</div>
							{% endif %}

						</div>

						{# //////////////////////////////////////////////////////////////////////////// #}

					</div>


				</div>
{# modal for delete comment #}
				<div id="{{comment.id}}Comment" class="modal">
					<div class="modal-content">
						<h4>{{'Are You Sure To Delete This Comment?'|trans}}({{comment.content}})</h4>
					</div>
					<div class="modal-footer">
						<a id="accept-delete" href="{{path('comment_delete',{'id':comment.id})}}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
						<a id="ignore-accept" class="modal-close waves-effect waves-green btn-flat">cancle</a>
					</div>
				</div>
				{# end modal delete comment #}


			{# <!-- Modal Structure --> #}
								
								<div id="{{comment.id}}editComment" class="modal">
									<div class="modal-content">
										<span class="close-modal modal-close">
											<i class="material-icons right">close</i>
										</span>
										<h4 class="left">{{'Update Your Comment!'|trans}}</h4>

										{{ render(controller('App\\Controller\\CommentController::edit', { 'id': comment.id })) }}

									</div>

								</div>
		{# <!--end Modal Structure -->		 #}
