<li class="collection-item avatar userImages">
	<img src="/images/ah.jpg" alt="" class="circle">
	<span class="title">{{follower.fullname}}
	</span>
	<p>
		<a href="{{path('my_profile',{'id':follower.id})}}">
			{{follower.username}}
		</a>
    {% if  app.user and  (follower is not same as(app.user)) %}
		{% if   app.user.isFollowing(follower) %}
			<a href="{{path('unfollowing',{'id':follower.id})}}" class="waves-effect waves-light btn-small right">
				<i class="material-icons left">person_outline</i>Un Following</a>
		{% else %}
			<a href="{{path('following',{'id':follower.id})}}" class="waves-effect waves-light btn-small right">
				<i class="material-icons left">person_add</i>Following</a>
		{% endif %}
	{% endif %}
	</p>
	

</li>
