{% extends 'base.html.twig' %}

{% block title %}Hello Post!
{% endblock %}
{% block stylesheets %}

	{{parent()}}
	{# <link rel="stylesheet" href="/css/post/postCard.css">
	<link rel="stylesheet" href="/css/component/spinner.css"> #}
	<style>


	</style>
{% endblock %}
{% block body %}

	<div class="row flex-s">
	<div class="col s12 m8 lg8 box-a">
			
				{% for message in app.flashes('success') %}
					<div class=" center green">
						{{message}}
					</div>
				{% endfor %}
				{# {% if app.user %}
					<a href={{path('post_add')}} class="btn-floating btn-large waves-effect waves-light red postAdd">
						<i class="material-icons">add</i>
					</a>
				{% endif %} #}


				{% if usersToFollow is defined and  usersToFollow|length > 0 %}

					<div class="collection  ">
						<li class="collection-header center">
							<h4>Users Have The Most Posts</h4>
						</li>
						{% for userToFollow in usersToFollow %}
							<a href="{{path('following',{'id':userToFollow.user.id})}}" class="collection-item">
								<span class="new badge" data-badge-caption=" Posts">{{userToFollow.postCount}}</span>
								<i class="material-icons left">person_add</i>
								{{userToFollow.user.username}}</a>
						{% endfor %}

					</div>
				{% else %}

					{% for post in posts.getData() %}
						
							{% include "post/_postCard.html.twig" with {'post':post} %}
						
					{% endfor %}

				{% endif %}
         <div class="card-panel  center">
			{{posts.display()}}
		</div>

			</div>
	
		<div class="col s12 m4 lg4 box-b">
			
					<ul class="collapsible">
						<li>
							<div class="collapsible-header">
								<i class="material-icons">filter_list</i>Filter</div>
							<div class="collapsible-body">
								{% include "search/index.html.twig" with {'form':form} %}
								<div class="row right-align">
									<a href={{path('home')}} class="btn-floating btn-small  waves-effect waves-light red ">
										<i class="material-icons">clear</i>
									</a>
								</div>
							</div>
						</li>

					</ul>
					  <div class="card-panel  center">
					   <h6 >Most populer tags</h6>
		                	{% for tag in tags %}
							<div class="chip teal lighten-2">
							<a href="{{path("post_tag",{'id':tag.tags.id})}}" class="tag">{{tag.tags.name}}</a>
						</div>
								
							{% endfor %}
		            </div>
                     {% if MabyWantToFollow|length > 0 %}
					 <div class="card-panel  center">
					  <ul class="collection ">
						  <li class="collection-header"><h6>Who to follow</h6></li>
							
								{% for userMabyToFollow in MabyWantToFollow %}
								   	{% include "post/following.html.twig" with {'following':userMabyToFollow} %}
									  
						    	{% endfor %}
							
						</ul>
		                	
		            </div>
			{% endif %}
		</div>
		
	</div>


	{# pagination #}
	


{% endblock %}

{% block javascripts %}
	{{parent()}}
	
	<script>
					document.addEventListener('DOMContentLoaded', function () {
			var modalelems = document.querySelectorAll('.modal');
			var modalinstances = M.Modal.init(modalelems, {});

                   var filter = document.querySelectorAll('.collapsible');
                 var instancesfilter = M.Collapsible.init(filter, {});
			
			});

			let btnPostDelete = document.querySelectorAll('.post-edit');
			let isClicked = false;
			const handelEventEdit = (event) => {

			if (isClicked) {
			event.target.classList.add('spinner');
			event.preventDefault();

			return;
			}
			isClicked = true;
			event.target.classList.remove('spinner');

			} 
			btnPostDelete.forEach((el) => {

			el.addEventListener('click', handelEventEdit)
			});



  
		
	</script>
{% endblock %}
